* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #243444;
}

body * {
    font-family: 'Inter', sans-serif;
    color: #fff;
}

#container {
    /* border: 1px solid red; */
    width: 360px;
    height: 712px; 
    margin: auto;  /*Deixar o container centralizado*/
    margin-top: 56px;
    padding: 0 24px;
}

#profile {
    text-align: center; /*Tipo inline*/
}

#profile img {
    width: 112px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.5);
    
}

#profile p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 8px;
}

/* Links */
ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;

    padding: 24px 0;
}

ul li a {
    border: 1px solid blue;

    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 16px 24px;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 8px;
    backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
}

ul li a:hover {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid white;
}

/*Wrapper - logo*/
.wrapper-logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper-logo img{
    width: 112px;
    border-radius: 50%;
}
/*social*/
#social {
    display: flex;
    justify-content: center;

    padding: 24px 0;

    font-size: 24px;
}

#social a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
}

#social a:hover {
    background: rgba(255, 255, 255, 0.2);
    padding: 16px;
    border-radius: 50%;
    
}

footer {
    font-size: 14px;
    padding: 24px 0px;
    text-align: center;
}